<!DOCTYPE html>
<html lang="pt-br">

<head>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-220003080-1', 'auto');
        ga('send', 'pageview');
    </script>

    <meta charset="UTF-8">
    <title>Casa Criativa - Ideia da Semana</title>

    <script src="../public/scripts/scripts.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css">

</head>


<body id="page-ideias2">
    <div id="container">
        <div id="menu">
            <header class="menu">
                <div>
                    <a onclick="sendClickHits('Index')" class="btn-11" href="../index.html">
                        <img src="../public/assets/logo.png" alt="Imagem da Logomarca">
                    </a>
                </div>

                <div class="nav">
                    <a onclick="sendClickHits('PageIdeas')" class="btn-1" href="ideias.html">Ideias</a>
                    <a onclick="sendClickHits('PageIdeiasDaSemana')" class="btn-2" href="IdeiaDaSemana.html">Ideia da
                        Semana</a>
                    <a onclick="sendClickHits('PageAddIdeias')" class="btn-3" href="ideiasNew.html">Adicionar +
                        Ideias</a>
                    <a onclick="sendClickHits('Contato')" class="btn-4" href="contato.html">Contatos</a>
                    <a onclick="sendClickHits('Avaliação')" class="btn-5" href="Avaliacao.html">Avaliação</a>
                </div>
            </header>
        </div>

        <div class="intro">
            <section id="intro">
                <main>
                    <p>
                        Ficar em casa em períodos longos,não deve ser nada fácil.
                    </p>

                    <p>
                        Por isso,Essa semana trouxemos uma ideia especial para vocês, e a ideia da semana eh !!!!!!
                    </p>

                    <p>
                        Aproveite e nos avalie !!
                    </p>
                </main>
                <footer>
                    Com ❤ Matheus.
                </footer>
            </section>

            <section id="last-ideias">
                <section id="ideas">
                    <div class="idea">
                        <img src="../public/assets/tira-de-filme.png" alt="Imagem de filme">

                        <div class="content">
                            <h3>Maratonar filmes/séries</h3>
                            <p>Entretenimento</p>
                            <div class="description">
                                Nada como poder maratonar seus filmes e séries favoritos para esquecer o mundo não é
                                mesmo ??
                            </div>
                            <a onclick="sendClickHits('IdeiaMaratonar')" class="btn-6"
                                href="https://www.netflix.com/br/" target="_blank">Ir para a ideia</a>
                        </div>
                    </div>
                </section>

                <section id="ideas">
                    <div class="idea">
                        <img src="../public/assets/tira-de-filme.png" alt="Imagem de filme">

                        <div class="content">
                            <h3>Ordem cronológica da Marvel</h3>
                            <p>Entretenimento</p>
                            <div class="description">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/ZOkwhi9ytnw"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <a onclick="sendClickHits('IdeiaMaratonar')" class="btn-6"
                                href="https://www.youtube.com/embed/ZOkwhi9ytnw" target="_blank">Ir para a ideia</a>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>
</body>

</html>